<a href="https://colab.research.google.com/github/Shalyne-Waweru/Independent_Project-3/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_03_Shalyne_Waweru_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INDEPENDENT PROJECT(PART 1)

# Importing The Libraries

In [0]:
# Import the pandas library and the numpy library
#
import pandas as pd
import numpy as np

# Loading The Datasets

In [2]:
# Loading the cells_geo_description.xlsx file
#
df = pd.read_excel('cells_geo_description.xlsx', delimiter = ',')
df

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [51]:
# Loading the cells_geo.csv file
#
df_geo = pd.read_csv('cells_geo.csv', delimiter=';', index_col=0)
df_geo

# Checking and dropping duplicate values
df_newgeo = df_geo.duplicated()

df_newgeo = df_geo.drop_duplicates()
df_newgeo

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3931 rows x 11 columns]

In [14]:
# Loading the CDR_description.xlsx file
#
df = pd.read_excel('CDR_description.xlsx', delimiter = ',')
df

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [27]:
# Loading the TelcomDataset1.csv file
#
df_1 = pd.read_csv('Telcom_dataset.csv', delimiter = ',')
df_1

# Change the column names to match the other Telcom datasets' columns
df_1.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
df_1

# Checking and dropping duplicate values
df_1new = df_1.duplicated()

df_1new = df_1.drop_duplicates()
df_1new

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[4919 rows x 10 columns]

In [28]:
# Loading the TelcomDataset2.csv file
#
df_2 = pd.read_csv('Telcom_dataset2.csv', delimiter = ',')
df_2

# Change the column names to match the other Telcom datasets' columns
df_2.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
df_2

# Checking and dropping duplicate values
df_2new = df_2.duplicated()

df_2new = df_2.drop_duplicates()
df_2new

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4995     sms     25  2012-05-08 00:01:53.0  ...     19e2e  0e8763bdaa  eefd93f0b4
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN

[4923 rows x 10 columns]

In [29]:
# Loading the TelcomDataset3.csv file
#
df_3 = pd.read_csv('Telcom_dataset3.csv', delimiter = ',')
df_3

# Change the column names to match the other Telcom datasets' columns
df_3.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
df_3

# Checking and dropping duplicate values
df_3new = df_3.duplicated()

df_3new = df_3.drop_duplicates()
df_3new

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[4908 rows x 10 columns]

# Joining the Telcom Datasets to the cells_geo csv File

In [71]:
# Joining the TelcomDataset1 to the cells_geo.csv
# 
df_merge1 = pd.merge(df_newgeo, df_1new, on='CELL_ID', how = 'outer')
df_merge1

       VILLES      STATUS LOCALISATION  ... COUNTRY_A COUNTRY_B     SITE_ID
0      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
1      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
2      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
3     ASSINIE  In Service    INTERIEUR  ...       NaN       NaN         NaN
4     ASSINIE  In Service    INTERIEUR  ...       NaN       NaN         NaN
...       ...         ...          ...  ...       ...       ...         ...
8845      NaN         NaN          NaN  ...     19e2e     19e2e  86e2fbb623
8846      NaN         NaN          NaN  ...     19e2e     19e2e  029ef38f0b
8847      NaN         NaN          NaN  ...     19e2e     19e2e  e1a3687210
8848      NaN         NaN          NaN  ...     19e2e     19e2e  481aaf0c3b
8849      NaN         NaN          NaN  ...     19e2e     19e2e  13c690c436

[8850 rows x 20 columns]

In [55]:
# Joining the TelcomDataset2 to the cells_geo.csv
#
df_merge2 = pd.merge(df_newgeo, df_2new, on='CELL_ID', how = 'outer')
df_merge2

       VILLES      STATUS LOCALISATION  ... COUNTRY_A COUNTRY_B     SITE_ID
0      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
1      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
2      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
3     ASSINIE  In Service    INTERIEUR  ...       NaN       NaN         NaN
4     ASSINIE  In Service    INTERIEUR  ...       NaN       NaN         NaN
...       ...         ...          ...  ...       ...       ...         ...
8849      NaN         NaN          NaN  ...     19e2e     19e2e  c550c9e238
8850      NaN         NaN          NaN  ...     19e2e     19e2e  f3a6b6efd1
8851      NaN         NaN          NaN  ...     19e2e     19e2e  0c062a6655
8852      NaN         NaN          NaN  ...     19e2e     19e2e  b7d00e59e4
8853      NaN         NaN          NaN  ...     19e2e     19e2e  c7ea989264

[8854 rows x 20 columns]

In [35]:
# Joining the TelcomDataset3 to the cells_geo.csv
#
df_merge3 = pd.merge(df_newgeo, df_3new, on='CELL_ID', how = 'outer')
df_merge3

       VILLES      STATUS LOCALISATION  ... COUNTRY_A COUNTRY_B     SITE_ID
0      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
1      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
2      ADJAME  In Service      ABIDJAN  ...       NaN       NaN         NaN
3     ASSINIE  In Service    INTERIEUR  ...       NaN       NaN         NaN
4     ASSINIE  In Service    INTERIEUR  ...       NaN       NaN         NaN
...       ...         ...          ...  ...       ...       ...         ...
8834      NaN         NaN          NaN  ...     19e2e     19e2e  cdf82e4fe3
8835      NaN         NaN          NaN  ...     19e2e     19e2e  2ec4b9824b
8836      NaN         NaN          NaN  ...     19e2e     19e2e  3e46cdd0e8
8837      NaN         NaN          NaN  ...     19e2e     19e2e  5f6100dbe1
8838      NaN         NaN          NaN  ...     19e2e     OTHER  8a96bae9c1

[8839 rows x 20 columns]

# Merging the Joined Datasets

In [69]:
# Merging the 3 joined datasets (df_merge1, df_merge2 and df_merge3)
#
df_all = pd.concat((df_merge1, df_merge2, df_merge3), axis=0, ignore_index=True)
df_all
					
# Dropping un-needed columns
df_newall = df_all.drop(['DECOUPZONE', 'ZONENAME', 'LONGITUDE', 'LATITUDE', 'SITE_CODE', 'CELL_ON_SITE', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'SITE_ID'], axis = 1)
df_newall

# Dropping any duplicates
df_drop= df_newall.duplicated()

df_drop = df_newall.drop_duplicates()
df_drop

# Dropping null rows and columns 
df_nonull = df_drop.dropna(axis=0, how='all')
df_nonull

result = pd.value_counts(df_nonull['VILLES'])
result.head(25)

COCODY          353
YOPOUGON        291
ABOBO           255
MARCORY         140
TREICHVILLE     132
ADJAME          106
YAMOUSSOUKRO    104
PLATEAU         103
KOUMASSI         91
BOUAKE           65
DALOA            59
PORT-BOUET       57
GAGNOA           55
SAN-PEDRO        55
ATTECOUBE        46
DIVO             39
KORHOGO          35
BINGERVILLE      30
SOUBRE           28
ANYAMA           27
GUIGLO           27
GRAND-BASSAM     25
MEADJI           25
ADZOPE           21
MAN              21
Name: VILLES, dtype: int64

# Manipulating The Datasets

In [0]:
# Sort the cels_geo.csv file to obtain the most used cities
# 
df_geo = pd.read_csv('cells_geo.csv', delimiter=';', index_col=0)

df_mode = df_geo.groupby(['VILLES'])['VILLES'].agg(
    {"VILLES_COUNT": len}).sort_values(
    "VILLES_COUNT", ascending=False).reset_index()
df_mode.head(50)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

  after removing the cwd from sys.path.

          VILLES  VILLES_COUNT
0         COCODY           354
1       YOPOUGON           295
2          ABOBO           255
3        MARCORY           141
4    TREICHVILLE           132
5         ADJAME           110
6   YAMOUSSOUKRO           104
7        PLATEAU           103
8       KOUMASSI            91
9         BOUAKE            65
10    PORT-BOUET            61
11         DALOA            59
12     SAN-PEDRO            55
13        GAGNOA            55
14     ATTECOUBE            46
15    BONGOUANOU            42
16          DIVO            39
17       KORHOGO            36
18   BINGERVILLE            30
19        SOUBRE            28
20  GRAND-BASSAM            27
21        GUIGLO            27
22        ANYAMA            27
23        MEADJI            25
24           MAN            24
25       DUEKOUE            21
26    ABENGOUROU            21
27     BONDOUKOU            21
28        ADZOPE            21
29       ABOISSO            18
30        BONOUA            18
31      DIMBOKRO            16
32       BOUAFLE            15
33        LAKOTA            15
34         ISSIA            15
35     AGBOVILLE            15
36       TOUMODI            14
37       SEGUELA            12
38         DABOU            12
39        VAVOUA            12
40       ODIENNE            12
41       ASSINIE            12
42       DAOUKRO             9
43        DANANE             9
44       SIKENSI             9
45        SINFRA             9
46         BOUNA             9
47         FERKE             9
48          OUME             9
49      ZUENOULA             9

In [48]:
frames = [df_newgeo, df_1new, df_2new, df_3new]
df_dataset = pd.concat(frames, axis=1)
df_dataset
x = df_dataset.dropna()
result = pd.value_counts(x['VILLES'])
day_1 = result.head()
print(f"The Most used cities in 3 days: \n CITY       COUNT\n{day_1}")

The Most used cities in 3 days:
 CITY       COUNT
COCODY      228
ABOBO       208
YOPOUGON    166
MARCORY      90
ADJAME       77
Name: VILLES, dtype: int64