<a href="https://colab.research.google.com/github/Shalyne-Waweru/Independent_Project-3/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_03_Shalyne_Waweru_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INDEPENDENT PROJECT(PART 1)

# Importing The Libraries

In [0]:
# Import the pandas library and the numpy library
#
import pandas as pd
import numpy as np

# Loading The Datasets

In [2]:
# Loading the cells_geo_description.xlsx file
#
df = pd.read_excel('cells_geo_description.xlsx', delimiter = ',')
df

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [3]:
# Loading the cells_geo.csv file
#
df_geo = pd.read_csv('cells_geo.csv', delimiter=';', index_col=0)
df_geo
										
# Change the column name "SITE_CODE" to "SITE_ID"
df_geo.columns = ['VILLES','STATUS','LOCALISATION','DECOUPZONE','ZONENAME','LONGITUDE','LATITUDE','REGION','AREA','CELL_ID', 'SITE_ID']
df_geo

# Checking and dropping duplicate values
df_newgeo = df_geo.duplicated()

df_newgeo = df_geo.drop_duplicates()
df_newgeo

# Dropping any null rows
df_newgeo.dropna(axis = 0, how = 'all')
df_newgeo

# Dropping any null columns
df_newgeo.dropna(axis = 1, how = 'all')
df_newgeo

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID     SITE_ID
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3931 rows x 11 columns]

In [4]:
# Loading the CDR_description.xlsx file
#
df = pd.read_excel('CDR_description.xlsx', delimiter = ',')
df

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [5]:
# Loading the TelcomDataset1.csv file
#
df_1 = pd.read_csv('Telcom_dataset.csv', delimiter = ',')
df_1

# Change the column names to match the other Telcom datasets' columns
df_1.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
df_1

# Checking and dropping duplicate values
df_1new = df_1.duplicated()

df_1new = df_1.drop_duplicates()
df_1new

# Dropping any null rows
df_1new.dropna(axis = 0, how = 'all')
df_1new

# Dropping any null columns
df_1new.dropna(axis = 1, how = 'all')
df_1new

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[4919 rows x 10 columns]

In [6]:
# Loading the TelcomDataset2.csv file
#
df_2 = pd.read_csv('Telcom_dataset2.csv', delimiter = ',')
df_2

# Change the column names to match the other Telcom datasets' columns
df_2.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
df_2

# Checking and dropping duplicate values
df_2new = df_2.duplicated()

df_2new = df_2.drop_duplicates()
df_2new

# Dropping any null rows
df_2new.dropna(axis = 0, how = 'all')
df_2new

# Dropping any null columns
df_2new.dropna(axis = 1, how = 'all')
df_2new

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4995     sms     25  2012-05-08 00:01:53.0  ...     19e2e  0e8763bdaa  eefd93f0b4
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN

[4923 rows x 10 columns]

In [7]:
# Loading the TelcomDataset3.csv file
#
df_3 = pd.read_csv('Telcom_dataset3.csv', delimiter = ',')
df_3

# Change the column names to match the other Telcom datasets' columns
df_3.columns = ['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']
df_3

# Checking and dropping duplicate values
df_3new = df_3.duplicated()

df_3new = df_3.drop_duplicates()
df_3new

# Dropping any null rows
df_3new.dropna(axis = 0, how = 'all')
df_3new

# Dropping any null columns
df_3new.dropna(axis = 1, how = 'all')
df_3new

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4995   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[4908 rows x 10 columns]

# Joining the Telcom Datasets to the cells_geo csv File

In [8]:
# Joining the TelcomDataset1 to the cells_geo.csv
# 
df_merge1 = pd.merge(df_newgeo, df_1new, on='SITE_ID', how = 'inner')
df_merge1

         VILLES      STATUS LOCALISATION  ... COUNTRY_A COUNTRY_B   CELL_ID_y
0        ADJAME  In Service      ABIDJAN  ...     19e2e     19e2e  ac8f1ccb39
1        ADJAME  In Service      ABIDJAN  ...     19e2e     19e2e  ac8f1ccb39
2        ADJAME  In Service      ABIDJAN  ...     19e2e     19e2e  ac8f1ccb39
3         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  35a513722e
4         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  35a513722e
...         ...         ...          ...  ...       ...       ...         ...
16057  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
16058  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
16059  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
16060  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
16061  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d

[16062 rows x 20 columns]

In [9]:
# Joining the TelcomDataset2 to the cells_geo.csv
#
df_merge2 = pd.merge(df_newgeo, df_2new, on='SITE_ID', how = 'inner')
df_merge2

         VILLES      STATUS LOCALISATION  ... COUNTRY_A COUNTRY_B   CELL_ID_y
0         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  2a79da3e07
1         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  2a79da3e07
2         ABOBO         NaN      ABIDJAN  ...     19e2e     19e2e  2a79da3e07
3         ABOBO         NaN      ABIDJAN  ...     19e2e     19e2e  2a79da3e07
4         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  2a79da3e07
...         ...         ...          ...  ...       ...       ...         ...
15786  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
15787  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
15788  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
15789  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
15790  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d

[15791 rows x 20 columns]

In [10]:
# Joining the TelcomDataset3 to the cells_geo.csv
#
df_merge3 = pd.merge(df_newgeo, df_3new, on='SITE_ID', how = 'inner')
df_merge3

         VILLES      STATUS LOCALISATION  ... COUNTRY_A COUNTRY_B   CELL_ID_y
0         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  6bbbed100d
1         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  f74be7b2cb
2         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  f74be7b2cb
3         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  f74be7b2cb
4         ABOBO  In Service      ABIDJAN  ...     19e2e     19e2e  2a79da3e07
...         ...         ...          ...  ...       ...       ...         ...
17844  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
17845  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
17846  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
17847  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d
17848  ZUENOULA  In Service    INTERIEUR  ...     19e2e     19e2e  c92be6915d

[17849 rows x 20 columns]

# Merging the Joined Datasets

In [11]:
# Merging the 3 joined datasets (df_merge1, df_merge2 and df_merge3)
#
df_all = pd.concat((df_merge1, df_merge2, df_merge3), axis=0, ignore_index=True)
df_all

# Dropping un-needed columns
df_newall = df_all.drop(['DECOUPZONE', 'ZONENAME', 'LONGITUDE', 'LATITUDE', 'CELL_ID_x', 'CELL_ON_SITE', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID_y'], axis = 1)
df_newall

# Dropping any duplicates
df_drop= df_newall.duplicated()

df_drop = df_newall.drop_duplicates()
df_drop

# Dropping null rows 
df_nonull = df_drop.dropna(axis=0, how='all')
df_nonull

         VILLES      STATUS LOCALISATION  ... PRODUCT VALUE              DATE_TIME
0        ADJAME  In Service      ABIDJAN  ...   Voice    34  2012-05-07 00:00:58.0
3         ABOBO  In Service      ABIDJAN  ...   Voice   189  2012-05-07 00:00:18.0
4         ABOBO  In Service      ABIDJAN  ...   Voice    27  2012-05-07 00:00:30.0
5         ABOBO  In Service      ABIDJAN  ...     sms    25  2012-05-07 00:00:43.0
6         ABOBO  In Service      ABIDJAN  ...     sms    25  2012-05-07 00:00:44.0
...         ...         ...          ...  ...     ...   ...                    ...
49685  ZUENOULA  In Service    INTERIEUR  ...   Voice     0  2012-05-09 00:01:16.0
49690  ZUENOULA  In Service    INTERIEUR  ...   Voice     0  2012-05-09 00:00:12.0
49691  ZUENOULA  In Service    INTERIEUR  ...     sms     0  2012-05-09 00:00:24.0
49692  ZUENOULA  In Service    INTERIEUR  ...   Voice    34  2012-05-09 00:01:00.0
49693  ZUENOULA  In Service    INTERIEUR  ...     sms     0  2012-05-09 00:01:37.0

[10604 rows x 9 columns]

# Manipulating The Datasets

In [12]:
# Obtaining the most used cities from the merged dataset
# 
df_cities = pd.value_counts(df_nonull['VILLES'])
df_cities.head(50)

YOPOUGON        1722
ABOBO           1186
COCODY           739
ADJAME           550
KOUMASSI         437
MARCORY          429
TREICHVILLE      396
YAMOUSSOUKRO     357
PORT-BOUET       310
DALOA            305
ATTECOUBE        302
BOUAKE           259
SAN-PEDRO        221
DIVO             204
KORHOGO          148
GAGNOA           142
MAN              132
SOUBRE            99
DABOU             84
DUEKOUE           76
BINGERVILLE       75
AGBOVILLE         69
SEGUELA           61
ODIENNE           60
SIKENSI           58
FERKE             57
PLATEAU           54
BOUAFLE           53
LAKOTA            48
TOUMODI           46
ZUENOULA          42
ISSIA             41
GRAND-BASSAM      40
ANYAMA            40
ABENGOUROU        37
DIMBOKRO          37
BONDOUKOU         36
MEADJI            34
SINFRA            33
VAVOUA            30
DAOUKRO           30
MINIGNAN          28
ADZOPE            27
TIEBISSOU         26
FRONAN            24
DIANRA            22
GUIGLO            19
OUME              18
FADYADOUGOU       18
AGNIBILEKRO       17
Name: VILLES, dtype: int64

In [13]:
# Obtaining the most used regions from the merged dataset
# 
df_regions = pd.value_counts(df_nonull['REGION'])
df_regions

LAGUNE               6614
BAS SASSANDRA         471
LACS                  454
HAUT SASSANDRA        428
VALLEE DU BANDAMA     362
SUD BANDAMA           338
SAVANE                332
FROMAGER              220
WORODOUGOU            206
18 MONTAGNES          193
MARAHOUE              181
AGNEBY                149
NZI COMOE             143
MOYEN CAVALLY         132
DENGUELE              131
ZANZAN                100
MOYEN COMOE            65
SUD COMOE              53
BAFING                 32
Name: REGION, dtype: int64

In [14]:
# Obtaining the most used products from the merged dataset
#
df_product = pd.value_counts(df_nonull['PRODUCT'])
df_product.head(50)

sms      5899
Voice    4705
Name: PRODUCT, dtype: int64

In [15]:
# Obtaining the most used value of the products offered from the merged dataset
#
df_value = pd.pivot_table(df_nonull, index=['PRODUCT','VALUE'], aggfunc='count')
df_value

               AREA  DATE_TIME  LOCALISATION  REGION  SITE_ID  STATUS  VILLES
PRODUCT VALUE
Voice   0       911        913           913     913      913     883     913
        1       179        180           180     180      180     176     180
        2        81         81            81      81       81      79      81
        3        63         64            64      64       64      64      64
        4        75         75            75      75       75      70      75
...             ...        ...           ...     ...      ...     ...     ...
sms     50      184        191           191     191      191     183     191
        68        1          1             1       1        1       1       1
        70        1          1             1       1        1       1       1
        75        8          8             8       8        8       8       8
        100      33         34            34      34       34      32      34

[361 rows x 7 columns]

In [16]:
# Splitting the DATE_TIME column for analysis
# 
df_nonull[['DATE','TIME']] = df_nonull.DATE_TIME.str.split(expand=True)
df_nonull

         VILLES      STATUS  ...        DATE        TIME
0        ADJAME  In Service  ...  2012-05-07  00:00:58.0
3         ABOBO  In Service  ...  2012-05-07  00:00:18.0
4         ABOBO  In Service  ...  2012-05-07  00:00:30.0
5         ABOBO  In Service  ...  2012-05-07  00:00:43.0
6         ABOBO  In Service  ...  2012-05-07  00:00:44.0
...         ...         ...  ...         ...         ...
49685  ZUENOULA  In Service  ...  2012-05-09  00:01:16.0
49690  ZUENOULA  In Service  ...  2012-05-09  00:00:12.0
49691  ZUENOULA  In Service  ...  2012-05-09  00:00:24.0
49692  ZUENOULA  In Service  ...  2012-05-09  00:01:00.0
49693  ZUENOULA  In Service  ...  2012-05-09  00:01:37.0

[10604 rows x 11 columns]

In [17]:
# Obtaining the most used time frame of the products
#
df_time = pd.value_counts(df_nonull['TIME'])
df_time.head(50)

00:00:05.0    156
00:01:14.0    132
00:00:07.0    125
00:00:01.0    123
00:00:09.0    120
00:00:14.0    119
00:00:06.0    117
00:00:03.0    116
00:00:15.0    114
00:00:35.0    114
00:00:44.0    113
00:00:23.0    112
00:01:21.0    111
00:00:11.0    111
00:00:58.0    111
00:00:08.0    109
00:00:10.0    109
00:00:19.0    109
00:00:43.0    108
00:00:18.0    108
00:01:37.0    107
00:00:52.0    107
00:00:12.0    107
00:00:31.0    107
00:01:11.0    106
00:01:26.0    106
00:01:41.0    105
00:00:27.0    104
00:00:13.0    104
00:00:16.0    104
00:00:22.0    103
00:00:30.0    103
00:01:27.0    103
00:01:09.0    102
00:00:51.0    102
00:00:38.0    101
00:00:20.0    101
00:01:29.0    101
00:01:03.0    100
00:00:33.0    100
00:00:04.0     99
00:00:24.0     99
00:00:47.0     98
00:01:15.0     98
00:01:06.0     97
00:01:32.0     97
00:01:18.0     97
00:00:34.0     97
00:01:10.0     97
00:00:29.0     95
Name: TIME, dtype: int64